#  Ignore Python cache files
__pycache__/
*.pyc
*.pyo

#  Ignore PyInstaller build output
dist/
build/
*.spec

#  Ignore system files
.DS_Store
Thumbs.db

#  Ignore compiled executables
*.exe
*.dll
*.so

#  VSCode or JetBrains settings
.vscode/
.idea/
